<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="preferExternal" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="22" />
	<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyB5KtMLWOVJ4Dt476-Gp61NWRGv6peXxMM" />
	<application android:label="Revento" android:theme="@style/MyTheme" android:icon="@drawable/Icon"></application>
</manifest>