<resources>    
    <event>
        <title>Welcome to the Future</title>
        <date>22 juli 2017</date>
        <description>United through music, we dance towards the future</description>
        <address>Noorderlaaik 1, 1511 BX Oostzaan</address>
        <website>https://www.facebook.com/events/104257123351976/</website>
    </event>

    <event>
        <title>Modular Festival 2017</title>
        <date>1 juli 2017</date>
        <description>Beschrijving</description>
        <address>Park Maasboulevard 3, 3114 HB Schiedam</address>
        <website>https://www.facebook.com/events/1632069510434097/</website>
    </event>

    <event>
        <title>Brandersfeesten 2017</title>
        <date>22 september 2017</date>
        <description>Beschrijving</description>
        <address>3111 Schiedam</address>
        <website>https://www.facebook.com/events/287761984974533/</website>
    </event>
</resources>