<resources>
  <event>
    <title>Oh ja joh hoezo dan?!</title>
    <description>
      Er zijn maar weinig mensen zo vurig en gepassioneerd als de Schiedammers, maar ze lopen er niet mee te koop. Als een buitenstaander de liefde verklaart aan deze stad, is steevast de reactie: ‘Oh ja joh, hoezo dan?’ Maar daar komt de trots van de Schiedammer om de hoek kijken. De glans in de ogen als een buitenstaander vertelt wat zo mooi is aan de stad. De gretigheid waarmee ze door blijven vragen en zelf staan te popelen om hun Schiedamse verhaal te delen. Dit project bestaat uit die verhalen:

      een voorstelling voor mensen die elkaar anders nooit ontmoet hadden, voor mensen die dol zijn op Schiedamse verhalen en voor mensen die herinneringen en toekomstdromen willen delen. Een waarschuwing vooraf: je blik op Schiedam en Schiedammers zal voorgoed veranderen.

    </description>
  </event>

  <event>
    <title>Hart voor de zaak</title>
    <description>Hart voor de zaak hart voor de zaak ik heb helemaal zaak, ik was gewoon een beetje aan het chillen!</description>
  </event>

  <event>
    <title>Titel</title>
    <description>Beschrijving</description>
  </event>

  <event>
    <title>Titel</title>
    <description>Beschrijving</description>
  </event>

  <event>
    <title>Titel</title>
    <description>Beschrijving</description>
  </event>

  <event>
    <title>Titel</title>
    <description>Beschrijving</description>
  </event>
</resources>